
.categories {
  width: 200px;
}

.container {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content:baseline;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
  width: 100%;
  background-color: rgba(240, 240, 240);
}

.product {
  display: inline-block;
  width: 189px;
  height: 320px;
  background-color: rgba(225, 225, 225);
  text-align: center;
  font-size: 0.8em;
  padding: 10px;
  margin: 10px;
}

.product-title {
  height: 100px;
}

.top {
  text-align: center;
  background-color: rgba(235, 235, 235);
  width: 100%;
  border: 10em;
  margin: 0;
  margin-bottom: 10px;
  padding: 10px;
}

.categoriesList {

  background-color: rgba(240, 240, 240);
}

/* .categorieName {
  background-color: rgba(225, 225, 225);
} */

ul {
  padding: 10px;
  margin: 10px;
  list-style-type: none;
}

li {
  width: 400px;
}

label {
  font-size: smaller;
}

a {
  display: block;
  margin: 5px;
}

h3 {
  margin: 5px;
}

